{% extends "tienda/base.html" %} 
{% block title %}Editar pedido #{{ pedido.pk}}{% endblock %}
{% load django_browser_reload %}
{% block content %}
    <h1>Editar Pedido # {{pedido.pk}}</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend> Datos del pedido </legend>
            {{ pedido_form.as_p }}
        </fieldset>
        <fieldset>
            <legend> Ítems </legend>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="item">
                    {{ form.as_p }}
                    {% if form.instance.pk %}
                        <label>
                            {{ form.DELETE }} Eliminar item
                        </label>
                    {% endif %}
                </div>
            {% endfor %}
        </fieldset>
        <button class="btn primary"> Actualizar </button>
        <a href="{% url 'tienda:detalle_pedido' pedido.pk %}" class="btn primary">Volver</a>
    </form> 

    <script>
        const precios = {{ productos_dict|safe }};

        function actualizarPrecio(selectElement) {
            const itemDiv = selectElement.closest(".item");
            const precioInput = itemDiv.querySelector("input[id$='-precio_unitario']");
            if (precioInput) {
                precioInput.value = precios[selectElement.value] || "";
            }}

        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll("select[id$='-producto']").forEach(function (select) {
                select.addEventListener("change", function () {
                    actualizarPrecio(this);
                });
            });
        });
    </script>

{% django_browser_reload_script %}
{% endblock  %}