{% extends "tienda/base.html" %}
{% block title  %} Eliminar: {{produco.nombre}}{% endblock  %}
{% load django_browser_reload %}
{% block content %}
    <h1>Eliminar producto</h1>
    <p>Eliminar el producto <strong> {{ producto.nombre}}</strong>?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn primary">Sí, Eliminar</button>
        <a href="{% url 'tienda:detalle_producto' producto.pk %}" class="btn primary">Cancelar</a>
    </form>

    {% django_browser_reload_script %}
{% endblock  %}