{% extends "tienda/base.html" %}

{% block title %}Clientes {% endblock %}
{% load django_browser_reload %}

{% block content %}
    <h1>Cientes</h1>
    <a href="{% url 'tienda:crear_cliente' %}" class="btn primary">
        Nuevo cliente</a>
    <ul>
        {% for n in clientes %}
            <li>
                <a href="{% url 'tienda:detalle_cliente' n.id %}">
                    {{ n.nombre }} - {{ n.estado }}
            </li>
        {% empty %}
            <li>No hay clientes registrados.</li>
        
        {% endfor %}
    </ul>
    {% django_browser_reload_script %}
{% endblock %}