{% extends "tienda./base.html" %} {% block title %} Inicio - Django IA Lab {% endblock %} {% load django_browser_reload %} {% block content %}
  <h1>Productos</h1>
  <p> 
    <a href="{% url 'tienda:crear_producto' %}" class="btn primary"> Nuevo Producto </a>
  </p>
  <ul>
    {% for p in productos %}
    <li>
      <a href=" {% url 'tienda:detalle_producto' p.pk %}">{{ p.nombre }}</a> -
      ${{ p.precio|floatformat:2 }} -
      En stock: {{ p.stock }}
    </li>
    {% endfor %}
  </ul>
  {% django_browser_reload_script %}
{% endblock %}
